[submodule "Carthage/Checkouts/SwiftSequence"]
	path = Carthage/Checkouts/SwiftSequence
	url = https://github.com/oisdk/SwiftSequence.git
[submodule "docs"]
	path = docs
	url = https://github.com/PlanTeam/BSON.git
	branch = gh-pages
